<ion-view>
  <ion-content ng-controller="VideoTestCtrl">
    <button class="button button-stable "
            ng-click="download()" >download</button>
    <button class="button button-stable "
            ng-click="showAlert()" >alert</button>
    <div >progress: {{downloadProgress}}</div>
    <div >result:  {{result}}</div>

    <br/><br/>



    <button class="button button-stable "
            ng-click="play()" >play</button>
    <video width="320" height="240" controls>
      <source ng-src="./media/testing.mp4" type="video/mp4">
      <!--<source ng-src="./media/demonstration_140.mp4" type="video/mp4">-->
      <source src="{{directory+'test.mp4'}}" type="video/mp4">
    </video>


    //songs
    <div class="row">
      <div > {{srcarray | json}}</div>
      <h1>songs</h1>
        <button class="button button-stable"
                onClick="getList()">
          Select Audio
        </button>
<!--        <button
                class="button button-stable"
                onClick="playsong();"
                disabled="disabled">
          Play Audio
        </button>
        <button
                class="button button-stable"
                onClick="delsong();"
                disabled="disabled">
          Delete Single Audio
        </button>
        <button
                class="button button-stable"
                onClick="delmsong();"
                disabled="disabled">
          Delete Multiple Audio
        </button>-->
    </div>

  </ion-content>
</ion-view>